<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>
        <input type="text" v-model='name'>
        <input type="text" v-model='age'>
        <h1>{{name}} 是 {{age >=18 ? "成年人" : "未成年人"}}</h1>
        <h1>{{age|myshow(1,2,3,name)}}</h1>
    </div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    Vue.filter('myshow',function (val,a,b,c,d) {
      // val 对应的是age的值
      // a - 1; b - 2; c - 3; d - name;
      console.log(arguments)
      return d +' 是 ' + (val >= 18 ? "成年人" : '未成年人')
    })
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            age:0
        }
    });
</script>