<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>
        <input type="text" v-model='name'>
        <input type="text" v-model='age'>
        <h1>{{name}} 是 {{age >=18 ? "成年人" : "未成年人"}}</h1>
        <h1>{{age|myshow(1,2,3,name)}}</h1>
        <h2>{{personType}}</h2>
    </div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    Vue.filter('myshow',function (val,a,b,c,d) {
      // val 对应的是age的值
      // a - 1; b - 2; c - 3; d - name;
      console.log(arguments)
      return d +' 是 ' + (val >= 18 ? "成年人" : '未成年人')
    })
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            age:0
        },
        computed: {
          personType(){
            // 除了过滤器 中的this不是当前实例 其他的你见到的函数中的this都是当前实例；
            // 函数中的this 就是当前实例，methods
            // 计算属性的特点 就是 只要依赖不发生改变，这个函数就不会执行；
            // 依赖 ===》 就是你在这个函数中使用的 this上的属性,必须是同步使用
            // setTimeout(() => {
            //   console.log(this.name)
            // }, 10);
            console.log(this.name)
            return this.age >= 18 ? "成年人" : '未成年人'
          }
        },
    });
</script>