.voteBox {
	margin: 10px auto;
	padding: 10px;
	width: 60%;
	background: lightblue;

	.voteHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 50px;

		h3 {
			font-size: 20px;
			font-weight: normal;
		}
	}

	.voteMain {
		p {
			line-height: 35px;
		}
	}

	.voteFooter {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		line-height: 50px;

		button {
			margin-right: 10px;
			width: 50px;
			height: 35px;
		}
	}
}