<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>
        <formcom></formcom>
        <listcom></listcom>
    </div>
</body>
</html>

<template id='formcom'>
  <div>
    <input type="text" v-model='name' placeholder="请输入姓名">
    <input type="text" v-model='age' placeholder="请输入年龄">
    <input type="text" v-model='sex' placeholder="请输入性别">
    <button @click='submit'>提交</button>
  </div>
</template>

<template id='listcom'>
  <div style='display: flex;'>
    <div style='flex:1'>
      <h2>成年人</h2>
      <ul class="person">
        <li v-for='(item,index) in person' :key='index'>
          姓名：{{item.name}}
          年龄：{{item.age}}
          性别：{{item.sex}}
          <button @click='del(item.id)'>X</button>
        </li>
      </ul>
    </div>
    <div style='flex:1'>
      <h2>未成年人</h2>
      <ul class="child">
        <li v-for='(item,index) in child' :key='index'>
          姓名：{{item.name}}
          年龄：{{item.age}}
          性别：{{item.sex}}
          <button @click='del(item.id)'>X</button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/vuex/dist/vuex.js"></script>
<script>
    let myqqq = {
      namespaced:true,
      state:{
        my:123
      },
      mutations:{
        qqqfn(state,option){
          console.log(arguments)
        }
      },
      actions:{
        
      },
      getters:{

      }
    }

    let store = new Vuex.Store({
      state:{
        list:JSON.parse(localStorage.getItem('listData'))||[]
      },
      mutations:{
        /* 
          这里的函数必须都是同步函数(它是认为约定不是技术规定) 为什么呢？
          是为了方便状态可控，修改状态 有迹可循；
        */
        add(state,option){
          // setTimeout(() => {
          //   state.list.push(option)
          // }, 1000);
          state.list.push(option)
          // 想在数据更新之后 存储到localStorage中
          localStorage.setItem('listData',JSON.stringify(state.list))
        },
        qqqfn(){console.log(6666)},
        remove(state,option){
          state.list = state.list.filter(item=>item.id!==option)
          localStorage.setItem('listData',JSON.stringify(state.list))
        }
      },
      getters:{
        // 理解成vuex的计算属性即可
        // 什么时候才会选择使用getters   当多个组件共用一套处理逻辑的时候选择使用
        // 若这个逻辑只在一个组件使用 不建议写getters中，因这个增大vuex的体积；
        person(state){
          return state.list.filter(item=>item.age>=18)
        },
        child(state){
          return state.list.filter(item=>item.age<18)
        }
      },
      actions:{
        // 这里边也都是一些函数
        // mutations中的函数 需要通过 commit触发
        // actions中的函数 需要通过 dispatch触发
        // actions中的函数 一般都会再去触发mutations中的方法
        asyncAdd(store,option){
          setTimeout(() => {
            // 请求成功之后 再去触发mutations中的方法
            store.commit('add',option)
          }, 1000);
          console.log(arguments)
        }
      },
      modules:{
        qqq:myqqq
      }
    })

    let formcom = {
      template:'#formcom',
      data() {
        return {
          name:'',
          age:'',
          sex:''
        }
      },
      methods: {
        submit(){
          let obj = {
            name:this.name,
            age:this.age,
            sex:this.sex,
            id:Math.random()
          }
          // this.$store.commit('add',obj)
          // this.$store.dispatch('asyncAdd',obj);// 我们也是只能给asyncAdd传一个参数
          // this.asyncAdd(obj);
          this.$store.commit('qqq/qqqfn',100)
          this.name = '';
          this.age = '';
          this.sex = '';
        },
        ...Vuex.mapActions(['asyncAdd'])
      },
    }
    let listcom = {
      template:'#listcom',
      methods: {
        del(id){
          this.$store.commit('remove',id)
        },
        
      },
      computed: {
        person(){
          // person 就是成年人数组
          // debugger
          return this.$store.getters.person
          // return this.$store.state.list.filter(item=>item.age>=18)
        },
        child(){
          // child就是未成年人数组
          // debugger
          return this.$store.getters.child
          // return this.$store.state.list.filter(item=>item.age<18)
        }
        // ...Vuex.mapGetters(['person','child'])
      },
    }
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰"
        },
        store,
        components:{
          formcom,listcom
        }
    });
</script>